# ===== 공통 =====
.DS_Store
*.log

# ===== backend =====
backend/build/
backend/.gradle/
backend/out/

# ===== frontend =====
frontend/node_modules/
frontend/dist/

# ===== IDE =====
.idea/
.vscode/

# ===== OS =====
Thumbs.db
