USE [WasShuttleConveyorDataContext]
GO
/****** Object:  Table [dbo].[ShuttleContainer]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleContainer](
	[Id] [nvarchar](64) NOT NULL,
	[LocationGroupId] [nvarchar](64) NULL,
	[RepositoryId] [nvarchar](64) NULL,
	[OrderNo] [nvarchar](64) NULL,
	[Wave] [nvarchar](64) NULL,
	[Destination] [nvarchar](64) NULL,
	[WarehouseNo] [nvarchar](64) NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[Length] [int] NULL,
	[IsMoving] [bit] NOT NULL,
	[ClearOperatedTime] [datetime] NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_ShuttleContainer_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[OsrInventory]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[OsrInventory]
AS
SELECT     TOP (1000) Id, LocationGroupId, RepositoryId, OrderNo, Wave, WarehouseNo, IsMoving, UpdateOperatedTime, Destination
FROM        dbo.ShuttleContainer
WHERE     (RepositoryId LIKE '%W%')
GO
/****** Object:  Table [dbo].[BoxDestination]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoxDestination](
	[Id] [nvarchar](64) NOT NULL,
	[BoxDestinationItemId] [nvarchar](64) NULL,
	[BoxCode] [nvarchar](64) NULL,
	[IsEnableChangeStation] [bit] NOT NULL,
	[ChangeType] [nvarchar](64) NULL,
	[CircleNum] [int] NULL,
	[SourceAddress] [nvarchar](64) NULL,
	[DestinationAddress] [nvarchar](64) NULL,
	[Weight] [nvarchar](64) NULL,
	[BoxType] [int] NULL,
	[BoxStatus] [int] NULL,
	[IsNeedUpload] [bit] NOT NULL,
	[TaskId] [nvarchar](64) NULL,
	[OriStateList] [nvarchar](64) NULL,
	[ExecuteStateList] [nvarchar](64) NULL,
	[Toloc] [nvarchar](64) NULL,
	[Bin] [nvarchar](64) NULL,
	[Wave] [nvarchar](64) NULL,
	[OrderNo] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_BoxDestination_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoxDestinationItem]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoxDestinationItem](
	[Id] [nvarchar](64) NOT NULL,
	[BoxCode] [nvarchar](64) NULL,
	[IsEnableChangeStation] [bit] NOT NULL,
	[ChangeType] [nvarchar](64) NULL,
	[CircleNum] [int] NULL,
	[SourceAddress] [nvarchar](64) NULL,
	[DestinationAddress] [nvarchar](64) NULL,
	[Weight] [nvarchar](64) NULL,
	[BoxType] [int] NULL,
	[BoxStatus] [int] NULL,
	[IsNeedUpload] [bit] NOT NULL,
	[TaskId] [nvarchar](64) NULL,
	[OriStateList] [nvarchar](64) NULL,
	[ExecuteStateList] [nvarchar](64) NULL,
	[Toloc] [nvarchar](64) NULL,
	[Bin] [nvarchar](64) NULL,
	[Wave] [nvarchar](64) NULL,
	[OrderNo] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_BoxDestinationItem_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoxRouteEdge]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoxRouteEdge](
	[Id] [nvarchar](64) NOT NULL,
	[SourceNodeId] [nvarchar](64) NULL,
	[DestinationNodeId] [nvarchar](64) NULL,
	[TurnAddress] [nvarchar](64) NULL,
	[IsEnable] [bit] NOT NULL,
	[Cost] [float] NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_BoxRouteEdge_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoxRouteNode]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoxRouteNode](
	[Id] [nvarchar](64) NOT NULL,
	[BoxNodeType] [int] NULL,
	[Connection] [nvarchar](64) NULL,
	[NodeId] [nvarchar](64) NULL,
	[ExcepTurnAddress] [nvarchar](64) NULL,
	[Aisle] [int] NULL,
	[Level] [int] NULL,
	[WarehouseNo] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_BoxRouteNode_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoxSubWorkTask]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoxSubWorkTask](
	[Id] [nvarchar](64) NOT NULL,
	[ScanBoxCode] [nvarchar](128) NULL,
	[TaskSourceAddress] [nvarchar](64) NULL,
	[TaskDestinationAddress] [nvarchar](64) NULL,
	[CurrentAddress] [nvarchar](64) NULL,
	[NodeId] [nvarchar](64) NULL,
	[BoxStatus] [int] NULL,
	[CompletedOperatedTime] [datetime] NULL,
	[BoxCode] [nvarchar](64) NULL,
	[SequenceNo] [smallint] NULL,
	[BoxDestinationId] [nvarchar](64) NULL,
	[Weight] [nvarchar](64) NULL,
	[ReturnCode] [nvarchar](64) NULL,
	[TurnAddress] [nvarchar](64) NULL,
	[Connection] [nvarchar](64) NULL,
	[Reason] [nvarchar](64) NULL,
	[ResultCode] [int] NULL,
	[Station] [nvarchar](64) NULL,
	[Bin] [nvarchar](64) NULL,
	[WaveNo] [nvarchar](64) NULL,
	[OrderNo] [nvarchar](64) NULL,
	[IsReceiveCommand] [bit] NOT NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_BoxSubWorkTask_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoxSubWorkTaskRecord]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoxSubWorkTaskRecord](
	[Id] [nvarchar](64) NOT NULL,
	[ScanBoxCode] [nvarchar](128) NULL,
	[TaskSourceAddress] [nvarchar](64) NULL,
	[TaskDestinationAddress] [nvarchar](64) NULL,
	[CurrentAddress] [nvarchar](64) NULL,
	[NodeId] [nvarchar](64) NULL,
	[BoxStatus] [int] NULL,
	[CompletedOperatedTime] [datetime] NULL,
	[BoxCode] [nvarchar](64) NULL,
	[SequenceNo] [smallint] NULL,
	[BoxDestinationId] [nvarchar](64) NULL,
	[Weight] [nvarchar](64) NULL,
	[ReturnCode] [nvarchar](64) NULL,
	[TurnAddress] [nvarchar](64) NULL,
	[Connection] [nvarchar](64) NULL,
	[Reason] [nvarchar](64) NULL,
	[ResultCode] [int] NULL,
	[Station] [nvarchar](64) NULL,
	[Bin] [nvarchar](64) NULL,
	[WaveNo] [nvarchar](64) NULL,
	[OrderNo] [nvarchar](64) NULL,
	[IsReceiveCommand] [bit] NOT NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_BoxSubWorkTaskRecord_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DesChangeBoxWorkTask]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DesChangeBoxWorkTask](
	[Id] [nvarchar](64) NOT NULL,
	[ScanBoxCode] [nvarchar](128) NULL,
	[TaskSourceAddress] [nvarchar](64) NULL,
	[TaskDestinationAddress] [nvarchar](64) NULL,
	[CurrentAddress] [nvarchar](64) NULL,
	[NodeId] [nvarchar](64) NULL,
	[BoxStatus] [int] NULL,
	[CompletedOperatedTime] [datetime] NULL,
	[BoxCode] [nvarchar](64) NULL,
	[SequenceNo] [smallint] NULL,
	[BoxDestinationId] [nvarchar](64) NULL,
	[Weight] [nvarchar](64) NULL,
	[ReturnCode] [nvarchar](64) NULL,
	[TurnAddress] [nvarchar](64) NULL,
	[Connection] [nvarchar](64) NULL,
	[Reason] [nvarchar](64) NULL,
	[ResultCode] [int] NULL,
	[Station] [nvarchar](64) NULL,
	[Bin] [nvarchar](64) NULL,
	[WaveNo] [nvarchar](64) NULL,
	[OrderNo] [nvarchar](64) NULL,
	[IsReceiveCommand] [bit] NOT NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_DesChangeBoxWorkTask_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationState]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationState](
	[Id] [nvarchar](64) NOT NULL,
	[IsSend] [bit] NOT NULL,
	[CurrentLocation] [nvarchar](64) NULL,
	[SendTime] [datetime] NULL,
	[ReceiveTime] [datetime] NULL,
	[BoxCode] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_LocationState_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NodeMap]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NodeMap](
	[Id] [nvarchar](64) NOT NULL,
	[DeviceAddress] [nvarchar](64) NULL,
	[BoxNodeType] [int] NULL,
	[ContainerType] [int] NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_NodeMap_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OriChangeBoxWorkTask]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OriChangeBoxWorkTask](
	[Id] [nvarchar](64) NOT NULL,
	[ScanBoxCode] [nvarchar](128) NULL,
	[TaskSourceAddress] [nvarchar](64) NULL,
	[TaskDestinationAddress] [nvarchar](64) NULL,
	[CurrentAddress] [nvarchar](64) NULL,
	[NodeId] [nvarchar](64) NULL,
	[BoxStatus] [int] NULL,
	[CompletedOperatedTime] [datetime] NULL,
	[BoxCode] [nvarchar](64) NULL,
	[SequenceNo] [smallint] NULL,
	[BoxDestinationId] [nvarchar](64) NULL,
	[Weight] [nvarchar](64) NULL,
	[ReturnCode] [nvarchar](64) NULL,
	[TurnAddress] [nvarchar](64) NULL,
	[Connection] [nvarchar](64) NULL,
	[Reason] [nvarchar](64) NULL,
	[ResultCode] [int] NULL,
	[Station] [nvarchar](64) NULL,
	[Bin] [nvarchar](64) NULL,
	[WaveNo] [nvarchar](64) NULL,
	[OrderNo] [nvarchar](64) NULL,
	[IsReceiveCommand] [bit] NOT NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_OriChangeBoxWorkTask_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackBoxWorkTask]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackBoxWorkTask](
	[Id] [nvarchar](64) NOT NULL,
	[ScanBoxCode] [nvarchar](128) NULL,
	[TaskSourceAddress] [nvarchar](64) NULL,
	[TaskDestinationAddress] [nvarchar](64) NULL,
	[CurrentAddress] [nvarchar](64) NULL,
	[NodeId] [nvarchar](64) NULL,
	[BoxStatus] [int] NULL,
	[CompletedOperatedTime] [datetime] NULL,
	[BoxCode] [nvarchar](64) NULL,
	[SequenceNo] [smallint] NULL,
	[BoxDestinationId] [nvarchar](64) NULL,
	[Weight] [nvarchar](64) NULL,
	[ReturnCode] [nvarchar](64) NULL,
	[TurnAddress] [nvarchar](64) NULL,
	[Connection] [nvarchar](64) NULL,
	[Reason] [nvarchar](64) NULL,
	[ResultCode] [int] NULL,
	[Station] [nvarchar](64) NULL,
	[Bin] [nvarchar](64) NULL,
	[WaveNo] [nvarchar](64) NULL,
	[OrderNo] [nvarchar](64) NULL,
	[IsReceiveCommand] [bit] NOT NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_PackBoxWorkTask_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PalletShuttleExecuteWorkTask]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PalletShuttleExecuteWorkTask](
	[Id] [nvarchar](64) NOT NULL,
	[TransportWorkTaskType] [int] NULL,
	[LocationGroupId] [nvarchar](64) NULL,
	[IsAssignAddress] [bit] NOT NULL,
	[CurrentAddress] [nvarchar](64) NULL,
	[IsTakeGoodsCompleted] [bit] NOT NULL,
	[Connection] [nvarchar](64) NULL,
	[Aisle] [int] NULL,
	[Level] [int] NULL,
	[WorkTaskType] [int] NULL,
	[ObjectToHandle] [nvarchar](64) NULL,
	[ReleaseOperatedTime] [datetime] NULL,
	[ActiveOperatedTime] [datetime] NULL,
	[CompletedOperatedTime] [datetime] NULL,
	[CancelledOperatedTime] [datetime] NULL,
	[TerminatedOperatedTime] [datetime] NULL,
	[TaskPriority] [int] NULL,
	[TaskCode] [nvarchar](64) NULL,
	[Status] [int] NULL,
	[Result] [nvarchar](64) NULL,
	[Reason] [nvarchar](256) NULL,
	[SourceAddress] [nvarchar](64) NULL,
	[DestinationAddress] [nvarchar](64) NULL,
	[ExecuteWorkTaskId] [nvarchar](64) NULL,
	[ShuttleTaskId] [nvarchar](64) NULL,
	[FinalAddress] [nvarchar](64) NULL,
	[WarehouseNo] [nvarchar](64) NULL,
	[Executor] [nvarchar](64) NULL,
	[ShuttleNo] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_PalletShuttleExecuteWorkTask_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PalletShuttleMessageWorkTask]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PalletShuttleMessageWorkTask](
	[Id] [nvarchar](64) NOT NULL,
	[TransportMessageType] [int] NULL,
	[Connection] [nvarchar](64) NULL,
	[SourceDeviceAddress] [nvarchar](64) NULL,
	[TaskNo] [nvarchar](64) NULL,
	[WorkTaskType] [int] NULL,
	[ObjectToHandle] [nvarchar](64) NULL,
	[ReleaseOperatedTime] [datetime] NULL,
	[ActiveOperatedTime] [datetime] NULL,
	[CompletedOperatedTime] [datetime] NULL,
	[CancelledOperatedTime] [datetime] NULL,
	[TerminatedOperatedTime] [datetime] NULL,
	[TaskPriority] [int] NULL,
	[TaskCode] [nvarchar](64) NULL,
	[Status] [int] NULL,
	[Result] [nvarchar](64) NULL,
	[Reason] [nvarchar](256) NULL,
	[SourceAddress] [nvarchar](64) NULL,
	[CurrentAddress] [nvarchar](64) NULL,
	[DestinationAddress] [nvarchar](64) NULL,
	[ExecuteWorkTaskId] [nvarchar](64) NULL,
	[TransportWorkTaskType] [int] NULL,
	[ShuttleTaskId] [nvarchar](64) NULL,
	[FinalAddress] [nvarchar](64) NULL,
	[WarehouseNo] [nvarchar](64) NULL,
	[Executor] [nvarchar](64) NULL,
	[ShuttleNo] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_PalletShuttleMessageWorkTask_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PalletShuttleSubWorkTask]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PalletShuttleSubWorkTask](
	[Id] [nvarchar](64) NOT NULL,
	[TransportWorkTaskType] [int] NULL,
	[Action] [nvarchar](64) NULL,
	[SourceDeviceAddress] [nvarchar](64) NULL,
	[DestinationDeviceAddress] [nvarchar](64) NULL,
	[Connection] [nvarchar](64) NULL,
	[ParentTaskCode] [nvarchar](64) NULL,
	[Level] [int] NULL,
	[Aisle] [int] NULL,
	[WorkTaskType] [int] NULL,
	[ObjectToHandle] [nvarchar](64) NULL,
	[ReleaseOperatedTime] [datetime] NULL,
	[ActiveOperatedTime] [datetime] NULL,
	[CompletedOperatedTime] [datetime] NULL,
	[CancelledOperatedTime] [datetime] NULL,
	[TerminatedOperatedTime] [datetime] NULL,
	[TaskPriority] [int] NULL,
	[TaskCode] [nvarchar](64) NULL,
	[Status] [int] NULL,
	[Result] [nvarchar](64) NULL,
	[Reason] [nvarchar](256) NULL,
	[SourceAddress] [nvarchar](64) NULL,
	[CurrentAddress] [nvarchar](64) NULL,
	[DestinationAddress] [nvarchar](64) NULL,
	[ExecuteWorkTaskId] [nvarchar](64) NULL,
	[ShuttleTaskId] [nvarchar](64) NULL,
	[FinalAddress] [nvarchar](64) NULL,
	[WarehouseNo] [nvarchar](64) NULL,
	[Executor] [nvarchar](64) NULL,
	[ShuttleNo] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_PalletShuttleSubWorkTask_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReplenishWorkTask]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplenishWorkTask](
	[Id] [nvarchar](64) NOT NULL,
	[ScanBoxCode] [nvarchar](128) NULL,
	[TaskSourceAddress] [nvarchar](64) NULL,
	[TaskDestinationAddress] [nvarchar](64) NULL,
	[CurrentAddress] [nvarchar](64) NULL,
	[NodeId] [nvarchar](64) NULL,
	[BoxStatus] [int] NULL,
	[CompletedOperatedTime] [datetime] NULL,
	[BoxCode] [nvarchar](64) NULL,
	[SequenceNo] [smallint] NULL,
	[BoxDestinationId] [nvarchar](64) NULL,
	[Weight] [nvarchar](64) NULL,
	[ReturnCode] [nvarchar](64) NULL,
	[TurnAddress] [nvarchar](64) NULL,
	[Connection] [nvarchar](64) NULL,
	[Reason] [nvarchar](64) NULL,
	[ResultCode] [int] NULL,
	[Station] [nvarchar](64) NULL,
	[Bin] [nvarchar](64) NULL,
	[WaveNo] [nvarchar](64) NULL,
	[OrderNo] [nvarchar](64) NULL,
	[IsReceiveCommand] [bit] NOT NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_ReplenishWorkTask_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShuttleAssignPriority]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleAssignPriority](
	[Id] [nvarchar](64) NOT NULL,
	[Priority] [int] NULL,
	[AssignParameter] [nvarchar](64) NULL,
	[IsAsc] [bit] NOT NULL,
	[WarehouseNo] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_ShuttleAssignPriority_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShuttleContainerBackup]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleContainerBackup](
	[Id] [nvarchar](64) NOT NULL,
	[LocationGroupId] [nvarchar](64) NULL,
	[RepositoryId] [nvarchar](64) NULL,
	[OrderNo] [nvarchar](64) NULL,
	[Wave] [nvarchar](64) NULL,
	[WarehouseNo] [nvarchar](64) NULL,
	[Destination] [nvarchar](64) NULL,
	[IsMoving] [bit] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[SyncStatus] [nvarchar](20) NOT NULL,
	[FirstSeenTime] [datetime] NOT NULL,
	[LastSeenTime] [datetime] NOT NULL,
	[DeletedTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShuttleDeviceMsgInterfaceRecord]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleDeviceMsgInterfaceRecord](
	[Id] [nvarchar](64) NOT NULL,
	[SendTime] [datetime] NULL,
	[ReturnTime] [datetime] NULL,
	[SendMessage] [nvarchar](512) NULL,
	[ReturnMessage] [nvarchar](512) NULL,
	[TaskType] [nvarchar](64) NULL,
	[TaskId] [nvarchar](64) NULL,
	[ContainerCode] [nvarchar](64) NULL,
	[ReceiveTime] [datetime] NULL,
	[ReceiveMessage] [nvarchar](max) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_ShuttleDeviceMsgInterfaceRecord_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShuttleLiftStatus]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleLiftStatus](
	[Id] [nvarchar](64) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[Aisle] [int] NULL,
	[Level] [int] NULL,
	[Address] [nvarchar](64) NULL,
	[ShuttleAddress] [nvarchar](64) NULL,
	[LiftType] [nvarchar](64) NULL,
	[WesAisle] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_ShuttleLiftStatus_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShuttleLocation]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleLocation](
	[Id] [nvarchar](64) NOT NULL,
	[Aisle] [int] NULL,
	[LeftRight] [int] NULL,
	[Bay] [int] NULL,
	[Row] [int] NULL,
	[Level] [int] NULL,
	[IsOccupied] [bit] NOT NULL,
	[Reason] [nvarchar](64) NULL,
	[Z] [int] NULL,
	[IsBooked] [bit] NOT NULL,
	[IsOut] [bit] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[LocationGroupId] [nvarchar](64) NULL,
	[WarehouseNo] [nvarchar](64) NULL,
	[DeviceCode] [nvarchar](64) NULL,
	[BoxLocationType] [int] NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_ShuttleLocation_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShuttleLocationGroup]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleLocationGroup](
	[Id] [nvarchar](64) NOT NULL,
	[Level] [int] NULL,
	[Aisle] [int] NULL,
	[Bay] [int] NULL,
	[Quantity] [decimal](18, 4) NULL,
	[BookQuantity] [decimal](18, 4) NULL,
	[AvailableQuantity] [decimal](18, 4) NULL,
	[LeftRight] [int] NULL,
	[Height] [int] NULL,
	[Length] [int] NULL,
	[RouteNodeId] [nvarchar](64) NULL,
	[MovingRate] [int] NULL,
	[WarehouseNo] [nvarchar](64) NULL,
	[DeviceCode] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_ShuttleLocationGroup_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShuttleMovementExecuteWorkTask]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleMovementExecuteWorkTask](
	[Id] [nvarchar](64) NOT NULL,
	[IsEnableChangeStation] [bit] NOT NULL,
	[StationType] [nvarchar](64) NULL,
	[Aisle] [int] NULL,
	[Level] [int] NULL,
	[BoxDestinationId] [nvarchar](64) NULL,
	[TaskId] [nvarchar](64) NULL,
	[WesSourceAddress] [nvarchar](64) NULL,
	[WesDestinationAddress] [nvarchar](64) NULL,
	[TaskType] [nvarchar](64) NULL,
	[ChangeType] [nvarchar](64) NULL,
	[WorkTaskType] [int] NULL,
	[ObjectToHandle] [nvarchar](64) NULL,
	[ReleaseOperatedTime] [datetime] NULL,
	[ActiveOperatedTime] [datetime] NULL,
	[CompletedOperatedTime] [datetime] NULL,
	[CancelledOperatedTime] [datetime] NULL,
	[TerminatedOperatedTime] [datetime] NULL,
	[TaskPriority] [int] NULL,
	[TaskCode] [nvarchar](64) NULL,
	[Status] [int] NULL,
	[Result] [nvarchar](64) NULL,
	[Reason] [nvarchar](256) NULL,
	[SourceAddress] [nvarchar](64) NULL,
	[CurrentAddress] [nvarchar](64) NULL,
	[DestinationAddress] [nvarchar](64) NULL,
	[ExecuteWorkTaskId] [nvarchar](64) NULL,
	[TransportWorkTaskType] [int] NULL,
	[ShuttleTaskId] [nvarchar](64) NULL,
	[FinalAddress] [nvarchar](64) NULL,
	[WarehouseNo] [nvarchar](64) NULL,
	[Executor] [nvarchar](64) NULL,
	[ShuttleNo] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_ShuttleMovementExecuteWorkTask_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShuttleMovementSubWorkTask]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleMovementSubWorkTask](
	[Id] [nvarchar](64) NOT NULL,
	[Aisle] [int] NULL,
	[Level] [int] NULL,
	[WorkTaskType] [int] NULL,
	[ObjectToHandle] [nvarchar](64) NULL,
	[ReleaseOperatedTime] [datetime] NULL,
	[ActiveOperatedTime] [datetime] NULL,
	[CompletedOperatedTime] [datetime] NULL,
	[CancelledOperatedTime] [datetime] NULL,
	[TerminatedOperatedTime] [datetime] NULL,
	[TaskPriority] [int] NULL,
	[TaskCode] [nvarchar](64) NULL,
	[Status] [int] NULL,
	[Result] [nvarchar](64) NULL,
	[Reason] [nvarchar](256) NULL,
	[SourceAddress] [nvarchar](64) NULL,
	[CurrentAddress] [nvarchar](64) NULL,
	[DestinationAddress] [nvarchar](64) NULL,
	[ExecuteWorkTaskId] [nvarchar](64) NULL,
	[TransportWorkTaskType] [int] NULL,
	[ShuttleTaskId] [nvarchar](64) NULL,
	[FinalAddress] [nvarchar](64) NULL,
	[WarehouseNo] [nvarchar](64) NULL,
	[Executor] [nvarchar](64) NULL,
	[ShuttleNo] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_ShuttleMovementSubWorkTask_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShuttleRdsMsgInterfaceRecord]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleRdsMsgInterfaceRecord](
	[Id] [nvarchar](64) NOT NULL,
	[SequenceNo] [nvarchar](64) NULL,
	[SendTime] [datetime] NULL,
	[ReturnTime] [datetime] NULL,
	[SendMessage] [nvarchar](256) NULL,
	[ReturnMessage] [nvarchar](256) NULL,
	[MsgType] [nvarchar](64) NULL,
	[Connection] [nvarchar](64) NULL,
	[NodeId] [nvarchar](64) NULL,
	[BoxCode] [nvarchar](64) NULL,
	[Address] [nvarchar](64) NULL,
 CONSTRAINT [PK_ShuttleRdsMsgInterfaceRecord_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShuttleReceiveTaskDownLoadInterfaceRecord]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleReceiveTaskDownLoadInterfaceRecord](
	[Id] [nvarchar](64) NOT NULL,
	[Lpn] [nvarchar](64) NULL,
	[ReceiveTime] [datetime] NULL,
	[ReturnTime] [datetime] NULL,
	[ReceiveMessage] [nvarchar](max) NULL,
	[ReturnMessage] [nvarchar](max) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_ShuttleReceiveTaskDownLoadInterfaceRecord_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShuttleSendTaskInfoInterfaceRecord]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleSendTaskInfoInterfaceRecord](
	[Id] [nvarchar](64) NOT NULL,
	[TaskStatus] [nvarchar](64) NULL,
	[BoxDestinationId] [nvarchar](64) NULL,
	[BoxCode] [nvarchar](64) NULL,
	[TaskId] [nvarchar](64) NULL,
	[GrainName] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[SendOperatedTime] [datetime] NULL,
	[ReturnOperatedTime] [datetime] NULL,
	[UploadMessage] [nvarchar](max) NULL,
	[ReplyMessage] [nvarchar](max) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_ShuttleSendTaskInfoInterfaceRecord_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShuttleSendTaskRequestInterfaceRecord]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleSendTaskRequestInterfaceRecord](
	[Id] [nvarchar](64) NOT NULL,
	[Lpn] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[SendOperatedTime] [datetime] NULL,
	[ReturnOperatedTime] [datetime] NULL,
	[UploadMessage] [nvarchar](max) NULL,
	[ReplyMessage] [nvarchar](max) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_ShuttleSendTaskRequestInterfaceRecord_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShuttleSorterWorkTask]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleSorterWorkTask](
	[Id] [nvarchar](64) NOT NULL,
	[BoxCode] [nvarchar](64) NULL,
	[ReplaceCode] [nvarchar](64) NULL,
	[LastPackageFlag] [nvarchar](64) NULL,
	[DestinationAddress] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_ShuttleSorterWorkTask_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShuttleStatus]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleStatus](
	[Id] [nvarchar](64) NOT NULL,
	[Aisle] [int] NULL,
	[Level] [int] NULL,
	[IsUsed] [bit] NOT NULL,
	[WesAisle] [nvarchar](64) NULL,
	[WesLevel] [nvarchar](64) NULL,
	[InAddress] [nvarchar](64) NULL,
	[OutAddress] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_ShuttleStatus_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShuttleSystemParameter]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleSystemParameter](
	[Id] [nvarchar](64) NOT NULL,
	[Value] [int] NULL,
	[Max] [int] NULL,
	[Min] [int] NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_ShuttleSystemParameter_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShuttleTimMsgInterfaceRecord]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleTimMsgInterfaceRecord](
	[Id] [nvarchar](64) NOT NULL,
	[SendTime] [datetime] NULL,
	[ReturnTime] [datetime] NULL,
	[SendMessage] [nvarchar](1024) NULL,
	[ReturnMessage] [nvarchar](1024) NULL,
	[MsgType] [nvarchar](64) NULL,
	[Connection] [nvarchar](64) NULL,
	[BoxCode] [nvarchar](64) NULL,
	[SourceAddress] [nvarchar](64) NULL,
 CONSTRAINT [PK_ShuttleTimMsgInterfaceRecord_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShuttleWarehouseNoConfig]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleWarehouseNoConfig](
	[Id] [nvarchar](64) NOT NULL,
	[WarehouseType] [int] NULL,
	[Station] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_ShuttleWarehouseNoConfig_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShuttleWave]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShuttleWave](
	[Id] [nvarchar](64) NOT NULL,
	[Wave] [nvarchar](64) NULL,
	[OrderNo] [nvarchar](64) NULL,
	[TaskCount] [int] NULL,
	[Status] [int] NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_ShuttleWave_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StationBinStatus]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StationBinStatus](
	[Id] [nvarchar](64) NOT NULL,
	[Station] [nvarchar](64) NULL,
	[Bin] [nvarchar](64) NULL,
	[ChuteType] [nvarchar](64) NULL,
	[DeviceAddress] [nvarchar](64) NULL,
	[DefaultAddress] [nvarchar](64) NULL,
	[LabelAddress] [int] NULL,
	[LigthtAddress] [int] NULL,
	[LightStartPosition] [int] NULL,
	[LightEndPosition] [int] NULL,
	[BoxCode] [nvarchar](64) NULL,
	[IsOccupied] [bit] NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[Connection] [nvarchar](64) NULL,
	[PtlConnection] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_StationBinStatus_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StationStatus]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StationStatus](
	[Id] [nvarchar](64) NOT NULL,
	[Station] [nvarchar](64) NULL,
	[ChangeType] [nvarchar](64) NULL,
	[Enable] [int] NULL,
	[MaxFlow] [int] NULL,
	[Flow] [int] NULL,
	[IsStart] [bit] NOT NULL,
	[IsKeep] [bit] NOT NULL,
	[TestFlow] [int] NULL,
	[DeviceAddress] [nvarchar](64) NULL,
	[Connection] [nvarchar](64) NULL,
	[IsHaveWave] [bit] NOT NULL,
	[Wave] [nvarchar](64) NULL,
	[Order] [nvarchar](64) NULL,
	[IsControlStation] [bit] NOT NULL,
	[ControlStationId] [nvarchar](64) NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_StationStatus_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UploadBoxNodeConfig]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UploadBoxNodeConfig](
	[Id] [nvarchar](64) NOT NULL,
	[CurrentAddress] [nvarchar](64) NULL,
	[TurnAddress] [nvarchar](64) NULL,
	[TaskAddress] [nvarchar](64) NULL,
	[IsUpload] [bit] NOT NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_UploadBoxNodeConfig_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseNoAisleLocation]    Script Date: 2026-04-15 오후 4:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseNoAisleLocation](
	[Id] [nvarchar](64) NOT NULL,
	[Location] [nvarchar](64) NULL,
	[Aisle] [int] NULL,
	[WarehouseNo] [nvarchar](64) NULL,
	[IsUsed] [bit] NOT NULL,
	[Level] [int] NULL,
	[CreateOperatedTime] [datetime] NULL,
	[UpdateOperatedTime] [datetime] NULL,
	[CreateOperator] [nvarchar](64) NULL,
	[UpdateOperator] [nvarchar](64) NULL,
	[Name] [nvarchar](64) NULL,
	[Code] [nvarchar](64) NULL,
	[Description] [nvarchar](64) NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_WarehouseNoAisleLocation_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShuttleContainerBackup] ADD  DEFAULT (sysdatetime()) FOR [FirstSeenTime]
GO
ALTER TABLE [dbo].[ShuttleContainerBackup] ADD  DEFAULT (sysdatetime()) FOR [LastSeenTime]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ShuttleContainer"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 288
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'OsrInventory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'OsrInventory'
GO
